$font-stack: 'MuseoSansCyrl',
sans-serif;
$font-size: 16px;
$text-color-light:#ffffff;
$text-color-hover: #b1b1b1;


%wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
}

@mixin flex-center {
  height: 100%;
  display: flex;
  align-items: center;
}

.page {
  font-family: $font-stack;
  font-size: $font-size;
  color: $text-color-light;

  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.header {
  height: 100px;
  background-color: rgba(21, 10, 1, .21);
  border: 1px solid rgb(47, 51, 56);

  .header__wrapper {
    @extend %wrapper;
    @include flex-center;
    justify-content: space-between;
  }

  .header__link_logo {
    padding: 0;
    @include flex-center;
    transition: .5s;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  .header__nav {
    width: 100%;
    @include flex-center;
    justify-content: flex-end;

  }

  .header__list {
    list-style: none;
    margin: 0;
    @include flex-center;
    justify-content: flex-end;

    li {
      height: 100%;
      margin-right: 22px;

      &:last-of-type {
        margin: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .header__link {
      @include flex-center;
      text-decoration: none;
      color: $text-color-light;
      padding: 0 10px 0 10px;
      transition: .5s;
      position: relative;


      &:hover {
        color: $text-color-hover;
      }

      &:hover::after {
        content: ' ';
        position: absolute;
        bottom: 32px;
        left: 10px;
        width: calc(100% - 20px);
        height: 1px;
        background-color: #3d3d3d;
        z-index: 1;
      }
    }
  }
}

.mouse-parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.mouse-parallax__bg,
.mouse-parallax__mars,
.mouse-parallax__ship,
.mouse-parallax__fix-container {

 
}

.mouse-parallax__mars {
  background-image: url('../../images/mars_big.png');  
  z-index: 2;
  width: 100%;
  height: 100%;

}
.mouse-parallax__ship {
  background-image: url('../../images/ship.png') ;  
  z-index: 3;
  width: 100%;
  height: 100%;
  transition: all 11s ease-out;  
  transform: scale(1.2);

}
.mouse-parallax__line{
 background: url('../../images/line.png') no-repeat;
  position: absolute;
  top: calc(50% + 50px);
  left: calc(50% - 405px);
  height: 100%;
  width: 100%;
  z-index: 55;
  transition: all 11s ease-out; 
}
.mouse-parallax__fix-container {
  background-image:none;
  background: transparent;
  z-index: 4;
}


.parallax__fix-container{
position: relative;
z-index: 100;
}
.parallax{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 10;
}
.parallax__bg{
  position: absolute;
  background-image: url('../../images/sun_background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 110%;
  height: 110%;
  transition: all 0.1s ease;  
}


.parallax__mars{
  position: absolute;
  background-image: url('../../images/mars_big.png');  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}