$font-stack: 'MuseoSansCyrl',
sans-serif;
$font-size: 16px;
$text-color-light:#ffffff;
$text-color-hover: #b1b1b1;

@keyframes pop-up {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}


%wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
}


@mixin parallax-position {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  @media (min-height: 2000px) {
    background-size: contain;
    background-position: top;
    height: 2000px;
  }
}

@mixin flex-center {
  height: 100%;
  display: flex;
  align-items: center;
}

@mixin text-gradient {
  background: linear-gradient(-90.0deg, #ff3f04 0%, #ffffff 90%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin advantage-gradient($number, $firstVisibleSide, $secondVisibleSide, $firstHiddenSide, $secondHiddenSide) {
  &:nth-of-type(#{$number}) {
    bottom: none;
    background: linear-gradient(to #{$secondHiddenSide} #{$firstHiddenSide}, rgba(255, 255, 255, 0.1) 0%, transparent 50%);
    border-#{$firstVisibleSide}: 1px solid transparent;
    border-#{$secondVisibleSide}: 1px solid transparent;

    &:hover {
      background: linear-gradient(to #{$secondHiddenSide} #{$firstHiddenSide}, rgba(255, 255, 255, 0.3) 0%, transparent 40%);
      border-image-source: linear-gradient(to #{$secondHiddenSide} #{$firstHiddenSide}, rgba(121, 124, 130, 0.65), transparent, rgba(121, 124, 130, 0.65));
      border-image-slice: 1;
      border-image-slice: 1;
      border-#{$secondHiddenSide}: none;
      border-#{$firstHiddenSide}: none;
    }
  }
}

@mixin header-coner {
  position: absolute;
  width: 7px;
  height: 7px;
}





@mixin advantage-text {
  margin: 0;
  color: $text-color-light;
  line-height: 1;
  max-width: 153px;
  transition: .2s ease;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    opacity: .7;
  }
}

.page {
  font-family: $font-stack;
  font-size: $font-size;
  color: $text-color-light;
  width: 100%;
  height: 100vh;
  max-height: 2000px;
  background-position: center center;
  background-size: cover;
  margin: 0;
  @media (max-width:800px){
    background: url('../../images/background_static.jpg') no-repeat center center;
    background-attachment: fixed;
  }
  @media screen and (orientation:portrait){
    background: url('../../images/background_static_portret.jpg') no-repeat center center;
  }
}

.header {
  height: 100px;
  box-sizing: border-box;
  background-color: rgba(21, 10, 1, .21);
  border-bottom: 1px solid rgb(47, 51, 56);
  border-top: 1px solid rgb(47, 51, 56);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @media (max-width:800px){
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header__wrapper {
  @extend %wrapper;
  @include flex-center;
  justify-content: space-between;


}

.header__link_logo {
  display: flex;
  justify-content: center;
  padding: 0 0 10px 0;
  object-position: center center;
  transition: .5s ease;
  box-sizing: border-box;
  height: 100px;
  border: 1px solid rgb(47, 51, 56);
  border-top: none;
  border-bottom: none;
  position: relative;

  &::before {
    content: ' ';
    @include header-coner;
    display: block;
    border-left: 2px solid $text-color-light;
    border-bottom: 2px solid $text-color-light;
    bottom: -1px;
    left: -1px;
  }

  &::after {
    content: ' ';
    @include header-coner;
    display: block;
    border-right: 2px solid $text-color-light;
    border-bottom: 2px solid $text-color-light;
    bottom: -1px;
    right: -1px;
  }



  .header__corner_top-left {
    @include header-coner;
    top: -1px;
    left: -1px;
    border-left: 2px solid $text-color-light;
    border-top: 2px solid $text-color-light;
  }

  .header__corner_top-right {
    @include header-coner;
    border-right: 2px solid $text-color-light;
    border-top: 2px solid $text-color-light;
    top: -1px;
    right: -1px;
  }

  .header__logo {
    width: 316px;
    height: auto;
    object-fit: none;
    transition: .3s ease;
  }

  &:hover .header__logo {
    cursor: pointer;
    transform: scale(1.02);
  }
}
.header__link {
  @include flex-center;
  text-decoration: none;
  color: $text-color-light;
  padding: 0 10px 0 10px;
  transition: .5s ease;
  position: relative;
  &:hover {
    color: $text-color-hover;
  }

  &:hover::after {
    content: ' ';
    position: absolute;
    bottom: 32px;
    left: 10px;
    width: calc(100% - 20px);
    height: 1px;
    background-color: #3d3d3d;
    z-index: 1;
  }
}


.header__button-container_active {
  display: none
}






.header__burger-button {
  display: none;
  margin: 0;
  @media (max-width: 1100px) {
    display: block;
position: fixed;
top: 25px;
right: 15px;
z-index: 103;
background-color: transparent;
height: 45px;
width: 45px;
background-size: contain;
background-image: url('../../images/toOpen.svg'); 
  }
}


.header__burger-button_toClose {
 
  background-image: url('../../images/toClose.svg');
}
.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include flex-center;
  justify-content: flex-end;

  li {
    height: 100%;
    margin-right: 22px;

    &:last-of-type {
      margin: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}


.header__list_burger {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 160px;
  z-index: 102;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: start;
  background-color: rgba(47, 51, 56, 0.8);
  width: 100%;
  max-width: 520px;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-name: pop-up;


  li {
    height: 60px;
    width: 100%;
  }

  .header__link {
    height: 50px;
    padding-left: 60px;
  
  &:hover::after{
    content: ' ';
    position: absolute;
    bottom: 12px;
    left: 60px;
    width: calc(50% - 20px);
    height: 1px;
    background-color: #3d3d3d;
    z-index: 1;
  }}
}

.closing{
transition: transform .8s ease;
  transform: translateX(100%) ;
}

.header__overlay {
  display: none;
}

.header__overlay_visible {
  display: block;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  opacity: 0.8;
}
  .header__nav{
    @media (max-width:1100px) {
display: none;      
    }
  }

.header__nav_burger {
  display: block;
  flex-direction: column;
  justify-content: start;
  padding-top: 150px;
}



.content {
  position: relative;
  z-index: 100;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-height: 1200px;
  @media (max-width: 800px){
padding-top: 100px;
  }
}
.content__title{
  display: none;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 2000px;
  overflow: hidden;
  z-index: 10;
  @media (max-width:800px){
    display: none;
  }

}

.parallax__bg {
  @include parallax-position;
  transition: all 0.1s ease;
  background-image: url('../../images/sun_background.jpg');
  width: 110%;
  height: 110%;
  left: -6%;
  top: -5%;

  @media (min-height: 2000px) {
    height: 2000px;
  }

}


.parallax__mars {
  @include parallax-position;
  z-index: 1;
  background-image: url('../../images/mars_big.png');
  background-size: auto auto;

}


.ship{
  width: 25px;
  min-width: 25px;
  height: 100px;
  background-image: url('../../images/ship.png');
  background-position: bottom right;
  position: relative;
&:after{
content: ' ';
position: absolute;
width: 5px;
height: 5px;
background: transparent;
border: 1px solid rgba(255, 255, 255, .7);
border-radius: 50%;
top: 47px;
left: 8px;
}
&:before{
  content: ' ';
  position: absolute;
  z-index: 1;
  width: 8px;
  height: 1px;
  background-color: rgba(255, 255, 255, .6);
 
  top: 49px;
  left: 0;
  }
}

.ship__broken-line{
  background: transparent;
  width: 100%;
  max-width: 305px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 50px;
  border-left: 1px solid rgba(255, 255, 255, .6);
  border-bottom: 1px solid rgba(255, 255, 255, .6);
  transform: skewX(45deg)
}


.parallax__title {
  @include parallax-position;
  z-index: 1;
  max-width: 500px;
  top: 29%;
  left: calc(50% - 586px);
  background: transparent;
  color: #ffffff;
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    left: 10px;
  }



}

.mars-travel {
  @extend %wrapper;
  padding-top: 163px;
  height: calc(100% - 102px);
  min-height: 434px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  @media (max-width: 800px) {
    flex-direction: column-reverse;   
align-items: center;
height: auto;

  }
}
.title__main-word {
  font-size: 3.6rem;
  line-height: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  @include text-gradient
}

.title__subtitle {
  font-size: 1.56rem;
  font-weight: 300;
  text-transform: lowercase;
  @include text-gradient
}
.button {
 margin-bottom: 90px;
  min-width: 180px;
  height: 35px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(189.0deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: padding-box;

  font-size: 0.875rem;
  line-height: 1.05rem;
  font-weight: 100;
  color: #ffffff;
  cursor: pointer;
  background-color: rgba(22, 21, 29, .5);
  position: relative;
  transition: .3s ease;


  &::after {
    content: url('../../images/corner__left_bottom.png');
    position: absolute;
    bottom: -20px;
    left: -15px;
    z-index: 1;
  }

  &::before {
    content: url('../../images/corner__right_top.png');
    position: absolute;
    top: -15px;
    right: -16px;
    z-index: 1;
  }

  &:hover {
    color: $text-color-hover;
    box-shadow: 0px 0px 15px 0px rgba(246, 248, 249, 0.4);
  }
}

.advantages {

  display: flex;
  flex-wrap: wrap;
  max-width: 381px;
  gap: 11px;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;

  .advantage {

    width: 185px;
    height: 185px;
    box-sizing: border-box;
    padding: 27px 27px 37px 15px;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
    display: flex;
    flex-direction: column;

    &:nth-of-type(1) {
      justify-content: flex-end;
    }

    &:nth-of-type(2) {
      justify-content: flex-end;
    }

    @include advantage-gradient($number:1,
      $firstVisibleSide:right, $secondVisibleSide:bottom, $firstHiddenSide:left, $secondHiddenSide:top);

    @include advantage-gradient($number:2,
      $firstVisibleSide:left, $secondVisibleSide:bottom, $firstHiddenSide:right, $secondHiddenSide:top);

    @include advantage-gradient($number:3,
      $firstVisibleSide:right, $secondVisibleSide:top, $firstHiddenSide:left, $secondHiddenSide:bottom);

    @include advantage-gradient($number:4,
      $firstVisibleSide:left, $secondVisibleSide:top, $firstHiddenSide:right, $secondHiddenSide:bottom);


    .advantage__text_small {
      @include advantage-text;
      font-size: 1.125rem;
      font-weight: 100;
    }

    .advantage__text_big {
      @include advantage-text;
      font-size: 3.75rem;
      font-weight: 700;
      margin-top: 16px;
      margin-bottom: 1px;
    }
  }
}