@mixin parallax-position {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.parallax{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 10;
  position: fixed;

}
.parallax__bg{
  background-image: url('../../images/sun_background.jpg');
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.1s ease;
  width: 110%;
  height: 110%;
}
.parallax__mars{
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  background-image: url('../../images/mars88.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
height: 100%;
z-index: 2;
}
.parallax__title{
  @include parallax-position;
  position: sticky;
  z-index: 1;
  max-width: 500px;
  top: 29%;
  left: calc(50% - 586px);
  background: transparent;
  color: #ffffff;
  display: flex;
  flex-direction: column;

}